body {
    background-color: rgb(78, 78, 87);
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    font-family: sans-serif;
}

.container {
    width: 80%;
    max-width: 650px;
    margin: 0 auto;
    background-color: rgb(117, 117, 125);
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1em;
}

#countdown {
    display: flex;
    justify-content: space-around;
}

#countdown div {
    padding: 30px;
    background-color: #dad7d7;
    border-radius: 5px;
    color: rgb(62, 54, 54);
    display: flex;
    flex-direction: column;
    text-align: center;
}

span {
    font-size: xx-large;
}

.progress-container {
    width: 100%;
    height: 10px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    overflow: hidden;
}

#progress-bar {
    background: rgb(132, 210, 16);
    width: 50%;
    height: 100%;
    transition: width 1s ease-in-out;
    border-radius: 5px;
}